name: Build and Release on Tag

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build_and_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - run: pnpm install --frozen-lockfile
      - run: pnpm run build

      - name: Archive Production Build
        run: |
          zip -r ${{github.ref_name}}.zip ./dist

      - name: Create Release
        run: |
          gh release create ${{github.ref_name}} --generate-notes ${{github.ref_name}}.zip
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
